#header {
    width: 100%;
    background-color: #EBEBEB;
    font-size: 50px;
    font-family: 'Alata', sans-serif;
    text-align: left;
    margin-left: 0px;
}

body {
    background-color: #ECFFAA;
    font-family: 'Alata', sans-serif;
}

#top {
    clear: both;
    width: 100%;
}

#busy {
    float: left;
    width: 48%;
    text-align: center;
    align-content: center;
}

.notfinal {
    margin: 10px;
    background-color: black;
    border: none;
    color: white;
    padding: 3px 7px 5px 7px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-family: 'Alata', sans-serif;
    border-radius: 7px;
}

.notfinal:hover {
    color: black;
    background-color: white;
}

#busytable {
    font-family: 'Alata', sans-serif;
    border-collapse: collapse;
    table-layout: fixed;
    width: 98%;
}

#tasktable {
    font-family: 'Alata', sans-serif;
    border-collapse: collapse;
    table-layout: fixed;
    width: 98%;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
}

tr {
    background-color: #ECECEC;
    color: black;
}

tr:nth-child(even) {
    background-color: black;
    color: white;
}

tr:last-child {
    background-color: white;
    color: black;
}

#button {
    clear: both;
    width: 100%;
    padding: 10px 10px 10px 10px;
    text-align: center;
    align-content: center;
}

#thebutton {
    background-color: black;
    border: none;
    color: white;
    padding: 3px 7px 5px 7px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-family: 'Alata', sans-serif;
    border-radius: 7px;
}

#thebutton:hover {
    color: black;
    background-color: white;
}

#tasks {
    float: right;
    text-align: center;
    width: 48%;
    align-content: center;
}

#timetablediv {
    clear: both;
    width: 100%;
}

#timetable {
    table-layout: fixed;
    width: 100%;
}

table {
    width: 100%;
}

input {
    width: 90%;
}