#parent {
    background-color: #F0FF8C;
}

#header {
    align-content: center;
    width: 100%;
    background-color: grey;
}

body {
    background-color: black;
}

#top {
    clear: both;
    width: 1000px;
    border: 2px solid black;
}

#busy {
    float: left;
    width: 450px;
    border-width: 2px;
}

#button {
    float: center;
    width: 50px;
}

#tasks {
    float: right;
    width: 450px;
}

#timetable {
    clear: both;
}