#header {
    width: 100%;
    font-size: 40px;
    text-align: center;
    align-content: center;
    margin-left: 0px;
    margin-top: 90px;
    margin-bottom: 0px;
}

#texti {
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #00B9CD;
    text-align: center;
    line-height: 95%;
    font-size: 35px;
    width: 93.5px;
    height: 103px;
    text-align: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

#texti:hover {
    background-color: white;
    color: #00B9CD;
}

body {
    background-color: white;
    font-family: 'Alata', sans-serif;
    width: 1145px;
    margin-left: auto;
    margin-right: auto;
}

#top {
    clear: both;
    width: 100%;
    margin-top: 2px;
    padding-top: 1px;
}

#busy {
    float: left;
    width: 49%;
    text-align: center;
    align-content: center;
    color: #00B9CD;
    margin-left: 10px;
}

.notfinal {
    margin: 10px;
    background-color: #00B9CD;
    border: none;
    color: white;
    padding: 3px 7px 5px 7px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-family: 'Alata', sans-serif;
    border-radius: 7px;
}

.notfinal:hover {
    background-color: #008DFF;
}

#busytable {
    font-family: 'Alata', sans-serif;
    border-collapse: collapse;
    table-layout: fixed;
    width: 98%;
    color: #00B9CD;
}

#tasktable {
    font-family: 'Alata', sans-serif;
    border-collapse: collapse;
    table-layout: fixed;
    width: 98%;
    color: #00B9CD;
}

th,
td {
    border: 1px solid #008DFF;
    padding: 8px;
}

tr {
    background-color: #ECECEC;
    color: #00B9CD;
}

tr:nth-child(even) {
    background-color: #00b1c5;
    color: white;
}

tr:last-child {
    background-color: white;
    color: #00B9CD;
}

#button {
    clear: both;
    width: 100%;
    padding: 10px 10px 10px 10px;
    text-align: center;
    align-content: center;
}

#thebutton {
    background-color: #00B9CD;
    border: none;
    color: white;
    padding: 3px 7px 5px 7px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-family: 'Alata', sans-serif;
    border-radius: 7px;
    color: white;
    margin-right: 27px;
}

#thebutton:hover {
    background-color: #008DFF;
}

#tasks {
    float: right;
    text-align: center;
    width: 49%;
    align-content: center;
    color: #00B9CD;
}

#timetablediv {
    clear: both;
    width: 100%;
    color: #008DFF;
}

#timetable {
    table-layout: fixed;
    width: 100%;
    color: #008DFF;
}

table {
    width: 100%;
}

input {
    width: 90%;
    font-family: 'Alata', sans-serif;
    color: #00B9CD;
    font-size: 15px;
}